
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
node_modules
test-results
playwright-report
dist/
.env.local
.env*.local

*storybook.log
storybook-static
vitest.shims.d.ts
